@charset "UTF-8";

body {
    background-color: #F2E3D5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

h1#principal {
    background-color: #024959;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.subtitulos {
    color: #3CA6A6;
    text-decoration: underline;
}

.destaque {
    color: #026773;
    font-weight: bold;
}